*
{
  /* border:1px solid black; */
}
.navbar
{
  position: fixed;
  margin-left: 55%;
  z-index: 1;
  
}
body
{
  background-color: black;
  width: 100%;
  height: 100%;
}
.nav
{
  font-size: 25px;
  font-weight: 800;
}

.div2
{
  width: 100%;
  display: flex;
  height:100%;
}
.div1
{
  width: 50%;
  margin-top: 15%;
  margin-bottom: 15%;
  color: white;
}
.div11
{
  margin-top: 10%;
  
  border-top-left-radius: 30%;
}
.div1 h3
{
  margin-left: 5%;
  height: 40px;
 
}
.div1 span
{
  display: flex;
}

.body
{
  margin: 10%;
}
.expertise,.work,.projects,.contact
{
  height:100%;
}
.expertise h1,.work h1,.projects h1,.contact h1
{
  margin:0% 43%;
  color:white;
}
.expertise .head,.work .head,.projects .head,.contact .head
{
  padding: 8% 0%;
}
.expertise .row
{
  margin:5% 10%;
}

.work .card
{
  margin: auto;
  border-radius: 5%;
  margin-top: 3%;
}
.card img
{
  border-radius: 5%;
}
.projects .row
{
  margin: 3% 10%; 
}
.card1,.card2
{
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f2829;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 20px;
}

.card1:hover .overlay,.card2:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact .left
{
  width: 90%;
}
.contact .row
{
  margin-top: 3%;
}
.form-floating
{
  width: 70%;
  margin: auto;
}
.box1
{
  display: flex;
}
.contact .right
{
  color:white;
  margin-top: 5%;
}


.progress-bar4,.progress-bar5,.progress-bar6,.progress-bar2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 142px;
  height: 142px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, #d2eaf1 79%, transparent 80% 100%),
    conic-gradient(#1e51dc 80%, white 0);    
}
.progress-bar1,.progress-bar3 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 142px;
  height: 142px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, #d2eaf1 79%, transparent 80% 100%),
    conic-gradient(#1e51dc 70%, white 0);    
}

.progress-bar1::before {
  content: "CSS";
}
.progress-bar3::before {
  content: "HTML";
}
.progress-bar2::before {
  content: "REST API";
}
.progress-bar6::before {
  content: "PYTHON";
}
.progress-bar5::before {
  content: "JAVA";
}
.progress-bar4::before {
  content: "DJANGO";
}